.App {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: none;
}

.App .container {
  max-width: 1000px;
}

.App-footer {
  text-align: center;
  margin: 20px 0;
}
.App-header {
  text-align: center;
  font-size: 62px;
  font-family: "Calistoga", cursive;
  margin-top: 30px;
  color: var(--branding-color);
}
.App h3 {
  text-align: center;
  font-family: "Niconne", cursive;
  font-size: 46px;
}
.App footer {
  background: rgba(206, 198, 184, 0.9);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0 /30%);
  margin: 20px 0;
  font-size: 14px;
}
.App .branding-link {
  color: var(--branding-color);
  font-style: italic;
}
.App .branding-link:hover {
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 540px) {
  .App-header {
    margin-top: 15px;
  }
  .App h3 {
    font-size: 36px;
  }
}
@media (max-width: 280px) {
  .App-header {
    font-size: 50px;
  }
  .App h3 {
    font-size: 32px;
  }
}
