:root {
  --branding-color: rgb(80, 54, 7);
}
body {
  background: url("./images/dictionary.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 912px) {
  body {
    background-position: center;
  }
}
