.Meaning {
  font-size: 18px;
}
.Meaning h4 {
  color: var(--branding-color);
  font-weight: bold;
}
.Meaning .Examples {
  font-style: italic;
  color: var(--branding-color);
}

.Meaning li::marker {
  content: "◆  ";
  color: var(--branding-color);
  font-size: 15px;
}
.Meaning li {
  line-height: 1.5;
}
.Meaning .Synonyms {
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.5;
  color: var(--branding-color);
}
@media (max-width: 540px) {
  .Meaning li::marker {
    font-size: 12px;
  }
}
