.Meaning {
  font-size: 18px;
}
.Meaning h4 {
  color: var(--branding-color);
  font-weight: bold;
}
.Meaning .Examples {
  font-style: italic;
  color: var(--branding-color);
}
.Meaning li::marker {
  content: "♦  ";
}
.Meaning li {
  line-height: 1.5;
}
.Meaning .Synonyms {
  display: inline-block;
  line-height: 0.5;
  color: var(--branding-color);
}
