.Phonetic .sound-icon,
.phonetic-text {
  font-size: 20px;
}
.Phonetic .start {
  background: none;
  border: none;
}

@media (max-width: 540px) {
  .Phonetic .sound-icon,
  .phonetic-text {
    font-size: 16px;
  }
}
